@font-face {
  src: url("../fonts/Ace-Attorney.ttf");
  font-family: "attorney";
}
body {
  background: url("../img/background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  overflow: hidden;
  margin: 0;
}
.character-box {
  justify-content: center;
  position: relative;
  display: flex;
  z-index: 98;
}
.character-image {
  position: fixed;
  cursor: pointer;
  bottom: -100px;
  height: 100%;
}
.fake {
  cursor: default;
}
.dialog {
  justify-content: center;
  font-family: "attorney";
  position: relative;
  font-size: 35px;
  display: flex;
  z-index: 99;
}
.dialog-character-name {
  border: 3px solid #f1f1f1;
  background-color: rgba(0, 0, 255, 1);
  border-radius: 2px;
  text-align: center;
  position: fixed;
  min-width: 10%;
  padding: 0 5px;
  color: #f1f1f1;
  margin: 10px;
  width: auto;
}
.dialog-box {
  background: url("../img/scanlines.png");
  background-color: rgba(0, 0, 255, 0.5);
  border: 3px solid #f1f1f1;
  border-radius: 5px;
  position: fixed;
  height: 150px;
  padding: 10px;
  bottom: 10px;
  color: white;
  z-index: 99;
  width: 60%;
}
.dialog-textarea {
  height: 65%;
  cursor: default;
}
.dialog-button-box {
  align-items: flex-start;
  display: flex;
  width: 100%;
  height: 15%;
  bottom: 0;
}
.dialog-button, .dialog-button-arrow {
  border: 2px solid #C86400;
  background-color: #ffa500;
  border-radius: 2px;
  text-align: center;
  min-width: 10%;
  padding: 0 5px;
  margin: 10px;
  width: auto;
  transition: 0.2s;
  cursor: pointer;
}
.dialog-button-arrow {
  margin-left: 87%;
}
.dialog-button:hover, .dialog-button-arrow:hover {
  background-color: #963200;
}
.donutimg {
  width: 20%;
  right: 40%;
  left: 40%;
  position: relative;
  z-index: 100;
}
.hidden {
  display: none;
}
